.venv/
venv/
ENV/
*.env
backend/.env
.env.local
.idea
app/utils/__pycache__/
app/schemas/__pycache__/
app/routes/__pycache__/
app/models/__pycache__/
*.__pycache__/
__pycache__
backend/docs/BACKEND_API_DOCS.md
backend/docs/BACKEND_REVIEW_README.md
*.py[cod]
__pycache__/
docs
backend.zip
